# Combine Scrape results
**1** I had some goal: to create a table where all films have a country origin.
**2** This meant combining the results of BBC and IMDb scrapes
**3** I created a series of tables, added some info based on grouping and counts (ultimately it was unuseful)
**4** Then I merged the tables. Ultimately I would need properties.name column. At this stage it was cn_of_org

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('juhana_BBC02.csv')

In [4]:
df1.head()

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US

In [154]:
df2 = pd.read_excel('Single_Origin.xlsx')

In [155]:
df2

     Column1      cn_of_org                               movie  mentions
0          0      Hong Kong                In the Mood for Love        49
1          1  United States                    Mulholland Drive        47
2          2  United States                 There Will Be Blood        35
3          3          Japan                       Spirited Away        34
4          4  United States                             Boyhood        30
..       ...            ...                                 ...       ...
593      593          Spain                   Story of My Death         1
594      594         France                Stranger by the Lake         1
595      595         France  Even If She Had Been a Criminal...         1
596      596  United States                      Heart of a Dog         1
597      597  United States                       Lust, Caution         1

[598 rows x 4 columns]

In [156]:
df3 = df2.drop(columns=['Column1'])

In [157]:
final_df = pd.merge(df1, df3, how ='left', on='movie')

In [158]:
final_df

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn,cn_of_org,mentions
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US,United States,47
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US,Hong Kong,49
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US,United States,23
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US,Taiwan,22
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US,Switzerland,6
...,...,...,...,...,...,...,...,...,...
1765,The Lives of Others,Florian Henckel von Donnersmarck,2006,6,Raymond Zhou,China Daily,China,Germany,10
1766,Still Life,Jia Zhangke,2006,7,Raymond Zhou,China Daily,China,China,3
1767,Birdman,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,2014,8,Raymond Zhou,China Daily,China,United States,5
1768,Infernal Affairs,Andrew Lau and Alan Mak,2002,9,Raymond Zhou,China Daily,China,Hong Kong,2
1769,City of God,Fernando Meirelles and KÃ¡tia Lund,2002,10,Raymond Zhou,China Daily,China,Brazil,10

In [159]:
final_df.to_csv('movie_master_table.csv')

In [162]:
crit_rank1_df = final_df.query("crit_rank == 1")

In [175]:
crit_rank1_df.groupby('movie')['crit_rank'].sum()

movie
25th Hour                                                  1
3-Iron                                                     1
4 Months, 3 Weeks & 2 Days                                 1
A Pigeon Sat on a Branch Reflecting on Existence           1
A Separation                                               2
                                                          ..
Wolff Von Amerongen: Did He Commit Bankruptcy Offences?    1
Yi Yi: A One and a Two                                     7
You Ainâ€™t Seen Nothinâ€™ Yet                                 1
Zero Dark Thirty                                           1
Zodiac                                                     3
Name: crit_rank, Length: 99, dtype: int64

In [174]:
crit_rank1_df.sort_values(by='total_ones')

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn,cn_of_org,mentions,total_ones
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US,United States,47,NaN
10,In the Mood for Love,Wong Kar-wai,2000,1,Sam Adams,Freelance film critic,US,Hong Kong,49,NaN
20,Zero Dark Thirty,Kathryn Bigelow,2012,1,Thelma Adams,Freelance film critic,US,United States,5,NaN
30,In the Mood for Love,Wong Kar-wai,2000,1,Arturo Aguilar,Rolling Stone Mexico,Mexico,Hong Kong,49,NaN
40,The Piano Teacher,Michael Haneke,2001,1,Matthew Anderson,BBC Culture,UK,France,1,NaN
...,...,...,...,...,...,...,...,...,...,...
1720,No Country For Old Men,Joel and Ethan Coen,2007,1,Alissa Wilkinson,Christianity Today,US,United States,21,NaN
1730,Like Someone In Love,Abbas Kiarostami,2012,1,Jake Wilson,Fairfax Media,Australia,Japan,2,NaN
1740,Mulholland Drive,David Lynch,2001,1,Stephanie Zacharek,Time Magazine,US,United States,47,NaN
1750,In the Mood for Love,Wong Kar-wai,2000,1,Chadi Zeneddine,Doha Film Institute,Qatar,Hong Kong,49,NaN
1760,"Spring, Summer, Fall, Winterâ€¦and Spring",Kim Ki-duk,2003,1,Raymond Zhou,China Daily,China,South Korea,4,NaN

In [177]:
rank1_total_df = crit_rank1_df.groupby('movie')['crit_rank'].sum()

In [180]:
new_df = rank1_total_df.to_frame(name='total_ones')
new_df.sort_values(by='total_ones', ascending=False)

                        total_ones
movie
Mulholland Drive                16
In the Mood for Love            13
Yi Yi: A One and a Two           7
The Tree of Life                 7
There Will Be Blood              6
...                            ...
Moulin Rouge!                    1
Moon                             1
Melancholia                      1
Mad Max: Fury Road               1
25th Hour                        1

[99 rows x 1 columns]

In [195]:
with_total1s_df = pd.merge(final_df, new_df, how ='left', on='movie')

In [196]:
with_total1s_df

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn,cn_of_org,mentions,total_ones
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US,United States,47,16.0
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US,Hong Kong,49,13.0
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US,United States,23,7.0
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US,Taiwan,22,7.0
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US,Switzerland,6,2.0
...,...,...,...,...,...,...,...,...,...,...
1765,The Lives of Others,Florian Henckel von Donnersmarck,2006,6,Raymond Zhou,China Daily,China,Germany,10,1.0
1766,Still Life,Jia Zhangke,2006,7,Raymond Zhou,China Daily,China,China,3,NaN
1767,Birdman,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,2014,8,Raymond Zhou,China Daily,China,United States,5,NaN
1768,Infernal Affairs,Andrew Lau and Alan Mak,2002,9,Raymond Zhou,China Daily,China,Hong Kong,2,NaN
1769,City of God,Fernando Meirelles and KÃ¡tia Lund,2002,10,Raymond Zhou,China Daily,China,Brazil,10,1.0

In [201]:
with_total1s_df['total_ones'].fillna(0, inplace=True)

In [202]:
with_total1s_df

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn,cn_of_org,mentions,total_ones
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US,United States,47,16.0
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US,Hong Kong,49,13.0
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US,United States,23,7.0
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US,Taiwan,22,7.0
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US,Switzerland,6,2.0
...,...,...,...,...,...,...,...,...,...,...
1765,The Lives of Others,Florian Henckel von Donnersmarck,2006,6,Raymond Zhou,China Daily,China,Germany,10,1.0
1766,Still Life,Jia Zhangke,2006,7,Raymond Zhou,China Daily,China,China,3,0.0
1767,Birdman,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,2014,8,Raymond Zhou,China Daily,China,United States,5,0.0
1768,Infernal Affairs,Andrew Lau and Alan Mak,2002,9,Raymond Zhou,China Daily,China,Hong Kong,2,0.0
1769,City of God,Fernando Meirelles and KÃ¡tia Lund,2002,10,Raymond Zhou,China Daily,China,Brazil,10,1.0

In [204]:
with_total1s_df.total_ones = with_total1s_df.total_ones.astype(int)

In [205]:
with_total1s_df

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn,cn_of_org,mentions,total_ones
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US,United States,47,16
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US,Hong Kong,49,13
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US,United States,23,7
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US,Taiwan,22,7
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US,Switzerland,6,2
...,...,...,...,...,...,...,...,...,...,...
1765,The Lives of Others,Florian Henckel von Donnersmarck,2006,6,Raymond Zhou,China Daily,China,Germany,10,1
1766,Still Life,Jia Zhangke,2006,7,Raymond Zhou,China Daily,China,China,3,0
1767,Birdman,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,2014,8,Raymond Zhou,China Daily,China,United States,5,0
1768,Infernal Affairs,Andrew Lau and Alan Mak,2002,9,Raymond Zhou,China Daily,China,Hong Kong,2,0
1769,City of God,Fernando Meirelles and KÃ¡tia Lund,2002,10,Raymond Zhou,China Daily,China,Brazil,10,1

In [206]:
with_total1s_df.to_csv('movie_master_table.csv')